header {
    background-color: #990000;
    text-align: center;
}

body{
    background-color: #aaaaaa;
}

footer {
    background-color: #007700;
    text-align: center;
}

.page-title{
    text-align: center;
}

article{
    background-color: #FFFFFF;
    margin: 20px;
    padding: 20px;
}